body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;

    display: grid;
    align-content: center;
    justify-content: stretch;
}

header{
    padding: 1rem;
    justify-self: center;
}

main {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 640px;
    min-width: 300px;
    justify-self: center;

    display: grid;
    align-content: center;
    justify-content: center stretch;
    gap 2rem;
}

footer{
    padding: 1rem;
    justify-self: center;
}

h1 {
    font-weight: 700;
}

input[type="text"] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

ul.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li a:hover {
    background-color: #f1f1f1;
}
